@import "tailwindcss";

.dark {
    --background: #000000;
    --foreground: #00FF41;
    --main: hsl(120, 100%, 55%); /* #19FF19 al 100% */
    --submain: hsla(120, 100%, 55%, 0.85); /* #19FF19 al 85% */
    --submain-70: hsla(120, 100%, 55%, 0.7); /* #19FF19 al 70% */
    --card: #0a0a0a;
    --cline: #252525;
    --tint: #BBFF99;
}

.light {
    --background: #FFFFFF;
    --foreground: #212121;
    --main: hsl(0, 0%, 15%);
    --submain: hsla(0, 0%, 11%, 0.85);
    --submain-70: hsla(0, 0%, 20%, 0.85);
    --card: #a0a0a0;
    --cline: #c5c5c5;
    --tint: #e9e9e9;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-geist-sans);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-cline: var(--cline);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@keyframes shine {
  0% {
    box-shadow: 0 0 5px var(--main), 0 0 10px var(--main);
  }
  50% {
    box-shadow: 0 0 10px var(--main), 0 0 30px var(--main);
  }
  100% {
    box-shadow: 0 0 5px var(--main), 0 0 10px var(--main);
  }
}

.shine-effect {
  animation: shine 1s infinite;
}

